body{
    font-family: 'Open Sans', sans-serif;
}
*:focus {
    outline: none;
}

html {
    overflow:   scroll;
  }
  ::-webkit-scrollbar {
      width: 0px;
      background: transparent; /* make scrollbar transparent */
  }