input[type=text] {
    padding:8px; 
    border:2px solid #ccc; 
    -webkit-border-radius: 2px;
    border-radius: 5px;
}

input[type=text]:focus {
    border:2px solid #8bb955; 
}

textarea, select, input, button { outline: none; }

.fluid {
    width: 100% ;
}