input[type=text] {
    padding:10px; 
    border:2px solid #ccc; 
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

input[type=text]:focus {
    border:2px solid var(--accent-color); 
}

textarea, select, input, button { outline: none; }


input[type=checkbox]:after {
    width: 15px;
    height: 15px;
    content: " ";
    background-color: white;
    display: inline-block;
    border: 2px solid #ccc;
    border-radius: 2px;
    visibility: visible;
    cursor: pointer;
  }
  input[type=checkbox]:checked:after {
      /* content: "\2714"; */
    /* this is a checkmark symbol */
    color: var(--accent-color);
    font-size: 19px;
    background-color: var(--accent-color);
  }
   
   