.media-player-wrapper{
    width:100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.media-player{
    width:100%;
    max-width:640px;
    position:relative;      
}

.media-playlist{
    background-color:var(--bg-color);
    color:#fff;
    flex: 1;
    overflow: hidden;
}

.media-player video::-webkit-media-controls{
    display:none!important
}
.media-player-element{
    max-width:100%;
    height:0;
    padding-bottom:56.25%;
    position:relative;
    overflow:hidden;
    background-color:#d4d4d4;
}
.media-player-element embed,.media-player-element iframe,.media-player-element object,.media-player-element video{
    display:block;
    width:100%;
    height:300%;
    border:0;
    position:absolute;
    top:-100%;
    left:0;
    pointer-events:none
}
.media-controls{
    display:flex;
    align-items:center;
    padding:12px;
    background-color:var(--bg-color);
    color:#fff
}
.media-controls path,.media-controls polygon,.media-controls svg{
    transform-origin:50% 50%
}
.media-player--fullscreen .media-controls{
    width:100%;
    position:absolute;
    bottom:0;
    left:0;
    z-index:2147483647;
}
.media-controls--full{
    flex-direction:column;
    cursor: pointer;
}
.media-controls--full .media-control-group--seek{
    width:100%;
    margin:12px 0
}
.media-row{
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    width:100%;
    max-width: 350px;
}
.media-control-group{
    display:flex;
    flex-direction: row;
    align-items:center;
    position:relative
}
.media-control-group--seek{
    flex:1
}
.media-control{
    margin:0 12px
}
.media-control--progress{
    -webkit-appearance:none;
    width:calc(100% - 24px);
    height:3px;
    margin:0 12px;
    border:0;
    position:absolute;
    /* top:7px; */
    /* left:12px; */
    background-color:var(--border-color);
    color:var(--progress-bar-color)
}
.media-control--progress::-webkit-progress-bar{
    background-color:var(--border-color)
}
.media-control--progress::-moz-progress-bar{
    background-color:var(--progress-bar-color)
}
.media-control--progress::-webkit-progress-value{
    background-color:var(--progress-bar-color)
}
.media-control--seekbar{
    position:relative;
    z-index:5
}
.media-control--seekbar::-webkit-slider-runnable-track{
    background-color:transparent!important
}
.media-control--seekbar::-moz-range-track{
    background-color:transparent!important
}
.media-control--seekbar::-ms-track{
    background-color:transparent!important
}
.media-control--volume{
    max-width:120px
}
.media-control--prev-track{
    margin-right:6px
}
.media-control--next-track{
    margin-left:6px
}
input[type=range]{
    width:100%;
    height:12px;
    padding:0 12px;
    margin:0;
    background-color:transparent
}
input[type=range]:not(:root){
    overflow:hidden
}
input[type=range]:not(:root),input[type=range]:not(:root) /deep/ *,input[type=range]:not(:root) /deep/ :after,input[type=range]:not(:root) /deep/ :before,input[type=range]:not(:root):after,input[type=range]:not(:root):before{
    box-sizing:border-box
}
@supports (-moz-appearance:meterbar){
    input[type=range]{
        overflow:hidden
    }
    input[type=range],input[type=range] /deep/ *,input[type=range] /deep/ :after,input[type=range] /deep/ :before,input[type=range]:after,input[type=range]:before{
        box-sizing:border-box
    }
}
:root input[type=range],_:-ms-input-placeholder{
    overflow:hidden
}
:root input[type=range],:root input[type=range] /deep/ *,:root input[type=range] /deep/ :after,:root input[type=range] /deep/ :before,:root input[type=range]:after,:root input[type=range]:before,_:-ms-input-placeholder,_:-ms-input-placeholder /deep/ *,_:-ms-input-placeholder /deep/ :after,_:-ms-input-placeholder /deep/ :before,_:-ms-input-placeholder:after,_:-ms-input-placeholder:before{
    box-sizing:border-box
}
input[type=range]:not(:root){
    font-size:1em
}
@supports (-moz-appearance:meterbar){
    input[type=range]{
        font-size:1em
    }
}
:root input[type=range],_:-ms-input-placeholder{
    font-size:1em
}
input[type=range]:not(:root){
    -webkit-appearance:none
}
input[type=range]:not(:root):focus{
    outline:none
}
input[type=range]::-webkit-slider-runnable-track{
    -webkit-appearance:none;
    position:relative;
    z-index:1
}
input[type=range]::-webkit-slider-runnable-track:after{
    content:"";
    display:block;
    position:absolute;
    top:0;
    left:0;
    width:inherit;
    height:inherit;
    border-radius:inherit;
    z-index:-1
}
input[type=range]::-webkit-slider-thumb{
    -webkit-appearance:none;
    position:relative;
    z-index:-1
}
input[type=range]::-webkit-slider-thumb:before{
    content:"";
    transform:translateX(-100%);
    display:block;
    z-index:-1
}
input[type=range]::-moz-range-track{
    z-index:-1
}
input[type=range]::-moz-focus-outer{
    border:0
}
input[type=range]::-ms-track{
    border:none;
    color:transparent
}
input[type=range]::-ms-fill-lower{
    background:transparent
}
input[type=range]::-ms-tooltip{
    display:none
}
input[type=range]:active::-webkit-slider-thumb,input[type=range]:hover::-webkit-slider-thumb{
    transform:scale(1.25)
}
input[type=range]:active::-moz-range-thumb,input[type=range]:hover::-moz-range-thumb{
    transform:scale(1.25)
}
input[type=range]:active::-ms-thumb,input[type=range]:hover::-ms-thumb{
    transform:scale(1.25)
}
input[type=range]::-webkit-slider-runnable-track{
    width:100%;
    height:3px;
    border:0;
    cursor:pointer;
    background-color:var(--border-color)
}
input[type=range]::-webkit-slider-runnable-track:active{
    cursor:grabbing
}
input[type=range]::-moz-range-track{
    width:100%;
    height:3px;
    border:0;
    cursor:pointer;
    background-color:var(--border-color)
}
input[type=range]::-moz-range-track:active{
    cursor:grabbing
}
input[type=range]::-ms-track{
    width:100%;
    height:3px;
    border:0;
    cursor:pointer;
    background-color:var(--border-color)
}
input[type=range]::-ms-track:active{
    cursor:grabbing
}
input[type=range]::-webkit-slider-container{
    background-size:inherit
}
input[type=range]::-webkit-slider-runnable-track{
    background-image:linear-gradient(var(--theme-color),var(--theme-color));
    background-size:inherit;
    background-repeat:no-repeat
}
input[type=range]::-webkit-slider-thumb:before{
    background-color:var(--theme-color)
}
input[type=range]::-moz-range-progress{
    background-color:var(--theme-color)
}
input[type=range]::-ms-fill-lower{
    background-color:var(--theme-color)
}
input[type=range]::-webkit-slider-thumb{
    width:8px;
    height:8px;
    border:0;
    border-radius:50%;
    background-color:#cdd7db;
    cursor:grab;
    transform:scale(1);
    transform-origin:50% 50%;
    transition:transform .15s ease-out
}
input[type=range]::-webkit-slider-thumb:active{
    cursor:grabbing
}
input[type=range]::-moz-range-thumb{
    width:8px;
    height:8px;
    border:0;
    border-radius:50%;
    background-color:#cdd7db;
    cursor:grab;
    transform:scale(1);
    transform-origin:50% 50%;
    transition:transform .15s ease-out
}
input[type=range]::-moz-range-thumb:active{
    cursor:grabbing
}
input[type=range]::-ms-thumb{
    width:8px;
    height:8px;
    border:0;
    border-radius:50%;
    background-color:#cdd7db;
    cursor:grab;
    transform:scale(1);
    transform-origin:50% 50%;
    transition:transform .15s ease-out
}
input[type=range]::-ms-thumb:active{
    cursor:grabbing
}
input[type=range]::-webkit-slider-thumb{
    position:relative;
    top:-2.5px
}
.media-playlist-header{
    padding:2px;
    text-align: center;
    height: 100;
    background-color:var(--border-color);
}
.media-playlist-title{
    font-size:14px;   
}

.media-playlist-tracks{
    padding:0;
    margin:0;
    list-style:none;
    border:1px solid var(--border-color)
}
.media-playlist-track{
    padding: 12px;
    /* cursor:pointer */
}
.media-playlist-track+.media-playlist-track{
    border-top:1px solid var(--border-color)
}
.media-playlist-track.is-active{
    color:var(--theme-color)
}
