.react-tabs__tab-list {
    margin: 0 0 10px;
    padding: 0;
  }
  .react-tabs__tab {
    display: inline-block;
    position: relative;
    list-style: none;
    padding: 6px 12px;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 15px;
    font-style: bold;
    font-weight: 700;
    color: #373d3f;
  }

  .react-tabs__tab:hover {
    color: #8bb955;
  }

  .react-tabs__tab--selected {
    color: #8bb955;
    border-bottom: 3px solid #8bb955;
    /* background: #8bb955; */
    /* border-radius: 2px; */
  }

  .react-tabs__tab--disabled {
    color: GrayText;
    cursor: default;
  }
  .react-tabs__tab-panel {
    display: none;
  }
  .react-tabs__tab-panel--selected {
    display: block;
  }